
.myblueButton {
    -fx-background-color: 
        #000000,
        linear-gradient(#fff2ee, #d0cbc8),
        linear-gradient(#fffdf5, #cac8bf),
        linear-gradient(rgba(45, 232, 232, 0.79), #45b179);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding:  0 0 0 0;
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
}
.myblueButton Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

.myblueButton:pressed {
    -fx-background-color:
            -fx-shadow-highlight-color,
            linear-gradient(to bottom, derive(-fx-color,-22%) 0%, derive(-fx-color,-15%) 100%),
            linear-gradient(to bottom, derive(-fx-color,-15%) 0%, derive(-fx-color,-10%) 50%, derive(-fx-color,-8%) 98%, derive(-fx-color,-12%) 100%);
}
.myblueButton:hover {
    -fx-background-color:
            #000000;
    -fx-text-fill: #fff704;
}



.dark-blue {
    -fx-background-color: #44433d;
            /*linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),*/
            /*linear-gradient(#20262b, #191d22),*/
            /*radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));*/
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
.dark-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}


.dark-blue:hover {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

.dark-blue:pressed {
    
    -fx-background-color:
    #090a0c,
    linear-gradient(derive(#38424b , -22% ) 0% , derive(#1f2429 , -30%) 20%,  derive(#191d22 , -30%) 100%),
    linear-gradient(derive(#20262b , -35%),derive( #191d22 , -40%),
    radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0)) );
    -fx-background-insets: 0 0 -1 0, 0, 1, 1;
    /* TODO: -fx-text-fill should be derived */
    -fx-text-fill: -fx-light-text-color;


    /*-fx-background-color:*/
            /*#090a0c,*/
            /*linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),*/
            /*linear-gradient(#20262b, #191d22),*/
            /*radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));*/
    /*-fx-background-radius: 5,4,3,5;*/
    /*-fx-background-insets: 0,1,2,0;*/
    /*-fx-text-fill: white;*/
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/
    /*-fx-font-family: "Arial";*/
    /*-fx-text-fill: linear-gradient(white, #d0d0d0);*/
    /*-fx-font-size: 12px;*/
    /*-fx-padding: 10 20 10 20;*/
}



.button{
    -fx-background-color: #44433d;
    /*linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),*/
    /*linear-gradient(#20262b, #191d22),*/
    /*radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));*/
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
/*  -fx-padding: 10 20 10 20;*/
    -fx-border-width: 1, 1;
    -fx-border-color: -fx-focus-color, -fx-faint-focus-color;
}


.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}


.button:hover {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

.button:pressed {

    -fx-background-color:
            #090a0c,
            linear-gradient(derive(#38424b , -22% ) 0% , derive(#1f2429 , -30%) 20%,  derive(#191d22 , -30%) 100%),
            linear-gradient(derive(#20262b , -35%),derive( #191d22 , -40%),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0)) );
    -fx-background-insets: 0 0 -1 0, 0, 1, 1;
    /* TODO: -fx-text-fill should be derived */
    -fx-text-fill: -fx-light-text-color;


    /*-fx-background-color:*/
    /*#090a0c,*/
    /*linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),*/
    /*linear-gradient(#20262b, #191d22),*/
    /*radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));*/
    /*-fx-background-radius: 5,4,3,5;*/
    /*-fx-background-insets: 0,1,2,0;*/
    /*-fx-text-fill: white;*/
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/
    /*-fx-font-family: "Arial";*/
    /*-fx-text-fill: linear-gradient(white, #d0d0d0);*/
    /*-fx-font-size: 12px;*/
    /*-fx-padding: 10 20 10 20;*/
}