.stockButton {
	-fx-background-image: url('../img/stockList.png');
  	-fx-background-size:176px 42px;
  	-fx-text-fill:white
}

.stockButton-clicked {
	-fx-background-image: url('../img/stockList.png');
	-fx-background-size:176px 42px;
}

.stockButton-entered {
	-fx-background-image: url('../img/stockList_hover.png');
	-fx-background-size:176px 42px;
	-fx-text-fill:black
}

.benchButton {
  -fx-background-image: url('../img/benchMark.png');
  -fx-background-size:176px 42px;
   -fx-text-fill:white
}

.benchButton-clicked {
	-fx-background-image: url('../img/benchMark.png');
	-fx-background-size:176px 42px;
}

.benchButton-entered {
	-fx-background-image: url('../img/benchMark_hover.png');
	-fx-background-size:176px 42px;
	-fx-text-fill:black
}

.optionalButton {
  -fx-background-image: url('../img/optionalStock.png');
  -fx-background-size:176px 42px;
   -fx-text-fill:white
}

.optionalButton-clicked {
	-fx-background-image: url('../img/optional.png');
	-fx-background-size:176px 42px;
}

.optionalButton-entered {
	-fx-background-image: url('../img/optionalStock_hover.png');
	-fx-background-size:176px 42px;
	-fx-text-fill:black
}

/*.kButton {
	-fx-background-image: url('../img/stockList_normal.png');
  -fx-text-fill:white
}

.kButton-clicked {
	-fx-background-image: url('../img/stockList_clicked.png');
}

.kButton-entered {
	-fx-background-image: url('../img/stockList_entered.png');
}
*/



