.stockButton {
	-fx-background-image: url('../img/stockListIcon.png');
  	-fx-background-size:176px 40px;
  	-fx-text-fill:white
}

.stockButton-clicked {
	-fx-background-image: url('../img/stockListIcon.png');
	-fx-background-size:176px 40px;
}

.stockButton-entered {
	-fx-background-image: url('../img/stockListIcon.png');
	-fx-background-size:176px 40px;
}


.benchButton {
  -fx-background-image: url('../img/benchMark_normal.png');
   -fx-text-fill:white
}

.benchButton-clicked {
	-fx-background-image: url('../img/benchMark_clicked.png');
}

.benchButton-entered {
	-fx-background-image: url('../img/benchMark_entered.png');
}


.kButton {
	-fx-background-image: url('../img/stockList_normal.png');
  -fx-text-fill:white
}

.kButton-clicked {
	-fx-background-image: url('../img/stockList_clicked.png');
}

.kButton-entered {
	-fx-background-image: url('../img/stockList_entered.png');
}


