.chart-pie {
    -fx-background-insets: 0;
    -fx-border-color: derive(-fx-pie-color,-30%);
}
.chart-pie-label {
    -fx-padding: 30px;
    -fx-fill: -fx-text-base-color;
}
.chart-pie-label-line {
    -fx-stroke: #000000;
    -fx-fill: #000000;
    
}

.negative.chart-pie {
    -fx-pie-color: transparent;
    -fx-background-color: white;
}
.pie-legend-symbol.chart-pie {
    -fx-background-radius: 18px;
    -fx-padding: 8px;
    -fx-border-color: black;
}