#main_content{
    margin-left: 3%;
    margin-right:3%;
    /*background-color: #2c81ba;*/
    height: 700px;
    min-width: 1100px;
}



#title_result{
    border-bottom: solid 1px rgb(151,151,151);
    height: 64px;
    /*background-color: chocolate;*/
    border-bottom: solid 1px rgb(151,151,151);
}
#title_result_icon{
    float: left;
    width: 96px;
}
#title_result_content{
    /*background-color: #00CD00;*/
    height: 64px;
    font-size: 30px;
    line-height: 60px;
    float: left;
}
#used_params{
    margin-top: 10px;
    height: 500px;
}
#params_left_part{
    /*background-color: chocolate;*/
    margin-top:30px;
    height: 450px;
    width: 39%;
    float: left;
}
.param_title{
    font-size: 25px;

    /*background-color: #1abc9c;*/
    height: 40px;
    margin-top:20px;
    line-height: 40px;
}
#param_title_box{
    /*background-color: #2d2d2d;*/
    height: 450px;
    width: 50%;
    float: left;
}
#param_value_box{
    /*background-color: salmon;*/
    height: 450px;
    width: 50%;
    float: left;
}
.param_value{
    /*background-color: chartreuse;*/
    height: 40px;
    margin-top:20px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;

}
#factor_weight{
    height: 450px;
    width: 19%;
    /*background-color: #2c81ba;*/
    float: left;
    border:solid 2px rgb(151,151,151);
    border-radius: 10px;
    margin-left:20px;

}
#stock_pool{
    margin-left:20px;
    width: 35%;
    height: 450px;
    /*background-color: #1abc9c;*/
    float: left;
    border:solid 2px rgb(151,151,151);
    border-radius: 10px;
}
#compare_chart{
    border: solid 2px rgb(151,151,151);
    border-radius: 10px;
}
#transaction_and_detail{
    margin-top:20px;
    /*background-color: chocolate;*/
    height: 500px;
}
#transaction,#transaction_detail{
    /*display: block;*/
    height: 450px;
}
#transaction{
    /*background-color: #2f21d4;*/
    border:solid 2px rgb(151,151,151);
    border-radius: 10px;
    width: 48%;
    float: left;
}
#transaction_detail{
    /*background-color: #00a1cb;*/
    border:solid 2px rgb(151,151,151);
    border-radius: 10px;
    width: 48%;
    float: right;
}

.light_font{
    font-family: "PingFang SC";
    font-weight: 200;
}
.lighter_font{
    font-family: "PingFang SC";
    font-weight: 100;
}
#test_back_pic{
    width: 430px;
    position: absolute;
    left: 720px;
    top:150px;
    visibility: hidden;
}