#main_content_board_detail{
    margin-left: 3%;
    margin-right: 3%;
    min-width: 1200px;
    border-right: 2px solid rgb(151,151,151);
    /*background-color: #2f21d4;*/
    height: 1100px;
}

#top_bar{
    border-right: 1px solid rgb(151,151,151);
    height: 1100px;
    width: 300px;
    float: left;
    margin-top:20px;
    /*background-color: #00a1cb;*/
}
#stockname{
    height: 50px;
    font-size: 30px;
    /*background-color: chocolate;*/
}
#increase_item{
    height: 40px;
    /*background-color: #00CC99;*/
}
#board_info_increase{
    /*background-color: #1B9AF7;*/
    float: left;
}
#rate,#upNum,#downNum,#stopNum{
    margin-top:10px;
    float: right;
    /*background-color: #2c81ba;*/
}
#board_info_increase,#board_info_up_num,#board_info_down_num,#board_info_stop_num{
    /*background-color: red;*/
    margin-top: 10px;
}
#increase_item,#up_num_item,#down_num_item,#stop_num_item{
    margin-top: 10px;
    width: 90%;
    margin-left: 10px;
}
#up_num_item{
    height: 40px;
}
#board_info_up_num{
    float: left;
}
#down_num_item{
    height: 40px;
}
#board_info_down_num{
    float: left;
}
#stop_num_item{
    height: 40px;
}
#board_info_stop_num{
    float: left;
}
#linechart{
    height: 400px;
    /*margin: 0 auto*/
}
#treechart{
    height: 600px;
    /*margin: 0 auto*/
}
#wait{
    margin: auto;

}
#compare_chart{
    border: solid 2px rgb(151,151,151);
    width: 830px;
    height: 400px;
    float: left;
    margin-top:20px;
    margin-left:20px;
    border-radius: 10px;
}
#consist_chart{
    border: solid 2px rgb(151,151,151);
    width: 830px;
    height: 600px;
    float: left;
    margin-left:20px;
    margin-top:20px;
    border-radius: 10px;
}
.item_icon{
    width: 40px;
    float: left;
}