#stock_h1{
    /*font-family: "American Typewriter";*/
    /*background-color: #00a1cb;*/
    text-align: center;
    font-size: xx-large;
    color: whitesmoke;
    position: absolute;
    top: 40%;
    left: 45%;
}
#stock_h2{
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: large;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 47%;
}