body{
    /*border: 3px solid #90111a;*/
    /*background-color: #00CC99;*/
    margin: 0px;
    background-image: url("/image/HOME_PAGE_1x.png");
}

#username{
    margin-left: 5px;
    height: 40px;
    /*background-color: #00CC99;*/

}
#password{
    margin-left: 5px;
    height: 40px;
    /*background-color: #2c3e50;*/
}
#loginModule{
    width: 230px;
    border: dashed 1px #FFFFFF;
    border-radius: 5px;
}
#account_icon{
    float: left;
    margin-top: 5px;
    /*background-color: #00a1cb;*/
    width: 30px;
}
#password_icon{
    float: left;
    margin-top: 5px;
    /*background-color: #00a1cb;*/
    width: 30px;
}
#account_with_icon{
    margin-top: 10px;
}
#password_with_icon{
    margin-top:10px;
}
.home_title{
    color: #FFFFFF;
    width: 700px;
    /*background-color: #5dade2;*/
    font-size: 50px;
    font-family:  "Microsoft Sans Serif";
    font-weight: 100;
    margin-left:auto;
    margin-right: auto;
}
.flat_input_text{
    font-size: 15px;
}
#start_btn{
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    /*font-size: 20px;*/
    /*font-weight: 100;*/
}
#start_btn_text{
    /*background-color: #1B9AF7;*/
    font-size: 30px;
    font-weight: 100;
    font-family: "Letter Gothic Std", "Microsoft Sans Serif", sans-serif;
    float: left;
    margin-left:20px;
    margin-top: 8px;
}
#start_btn_text:hover{
    cursor: hand;
}
#login_getUser{
    margin-top: 20px;
}
